<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ basePath }}/favicon.ico">

    <title>{{ translate("Slick web application") }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ addCss('bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ addCss('app.css') }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{{ addJs('ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        {% include "elements/navigation-bar.twig" %}
    </div>
</div>

<!-- Begin page content -->
<div class="container">
    {% include 'flash/messages.html.twig' with {'flashMessages': flashMessages} %}
    {{ layoutData|raw }}
</div>

<div id="footer">
    <div class="container">
        <p class="made-with-slick text-muted"><small>Made with Slick {{ slickVersion }}</small></p>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ addJs('jquery.min.js') }}"></script>
<script src="{{ addJs('bootstrap.min.js') }}"></script>
</body>
</html>
