<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url('favicon.ico') }}">

    <title>Slick web application!</title>

    <!-- Bootstrap core CSS -->
    {{ addCss('bootstrap.min.css', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css', {'attr': {'integrity': 'sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', 'crossorigin': 'anonymous'}}) }}
</head>

<body>
<div class="container">
    {% include "flash/messages.twig" %}
    {% block main_content %}
    {% endblock %}
</div>

{% block closure %}
    {{ addJs('jquery-3.1.1.slim.min.js', 'https://code.jquery.com', {'attr': {'integrity': 'sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', 'crossorigin': 'anonymous'}}) }}
    {{ addJs('popper.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd', {'attr': {'integrity': 'sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', 'crossorigin': 'anonymous'}}) }}
    {{ addJs('bootstrap.min.js', 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js', {'attr': {'integrity': 'sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', 'crossorigin': 'anonymous'}}) }}
{% endblock %}
</body>
</html>


